

#main-hero {

  background-image: url(/assets/img/hero.png);
  background-size: cover;
  min-height: 70vh;


    h1{
      color: #fff;
    }

    p {
      color: lightgray;
      font-size: 1.3em;
      max-width: 60%;
    }



}
